<div id="registered-customers-grid"></div>

<script>
    $(document).ready(function () {
        $("#registered-customers-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("ReportRegisteredCustomersList", "Workplace"))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                numeric: false,
                previousNext: false,
                info: false
            },
            editable: {
                confirmation: "@T("Admin.Common.DeleteConfirmation")",
                mode: "inline"
            },
            scrollable: false,
            columns: [{
                field: "Period",
                title: "@T("Admin.Workplaces.Reports.RegisteredWorkplaces.Fields.Period")"
            }, {
                field: "Workplaces",
                title: "@T("Admin.Workplaces.Reports.RegisteredWorkplaces.Fields.Workplaces")",
                width: 150
            }]
        });
    });
</script>